body {
    font-family: 'HelveticaNowDisplayRegular', sans-serif;
    font-style: normal;
    font-stretch: normal;
    padding: 0px;
    margin: 0px;
    background-color: #EEEEEE;

}

p {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

a:hover {
    text-decoration: none;
}

a {
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
}

:focus {
    outline: none;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li:not(.ul_menu li) {
    padding-left: 15px;
    position: relative;
}



.container {
    max-width: 1380px;
    padding: 0 20px;
    margin: 0 auto
}

.container_header {
    max-width: 1380px;
    padding: 0 20px;
    margin: 0 auto
}

.icon-custom span {
    margin-bottom: 6px;
    display: block;
    width: 22px;
    background: white;
    height: 2px;
    z-index: 1;

    /* transform-origin: 4px 0px; */

}

.icon-custom span:last-child {
    margin-bottom: 4px;
}

.icon-custom {
    cursor: pointer;
    padding-top: 2px;
    position: relative;


}


.active_custom span:first-child {
    transition: margin-left 0.3s ease;
    margin-bottom: 3px;
    margin-left: 18px;
    width: 3px;
    height: 3px;
    border-radius: 3px;

}

.active_custom span:last-child {
    /* position: absolute */

    transition: transform 0.3s ease;
    transform-origin: 50% 100%;
    transform: rotate(-15deg) translateZ(0);
}

.active_custom span:nth-child(2) {
    transition: transform 0.3s ease;
    margin-bottom: 7px;
    /* position: absolute; */
    transform: rotate(15deg);
    backface-visibility: hidden;
}

.ul_menu {
    display: none;

    list-style: none;
    padding: 2px 10px 4px 10px;
    color: white;
}

.ul_menu a {
    font-family: PT Serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: white;
}

.ul_menu a:hover {
    opacity: 1;
}

.ul_menu li {
    cursor: pointer;
    border-bottom: 2px solid #fff;
    padding-top: 3px;
    padding-bottom: 4px;
}

.ul_menu li:last-child {
    border-bottom: none;
}

.ul_menu li img {
    opacity: 0;
    /* visibility: hidden; */
    transition: opacity 0.3s ease-out, visibility 0s linear 0.5s;
    width: 18px;
    height: 14px;


}

.ul_menu li:hover .hover_show {
    opacity: 1;
    /* visibility: visible; */
    transition-delay: 0s;
}

header {
    margin-top: 0px;
    padding-bottom: 90px;
    background-color: #EEEEEE;
}

.background_color {
    padding-top: 47px;
    background-color: #EEEEEE;
}

.menu_custom i {
    color: white;

    /* margin-right: 10px; */

}

.nav_custom {
    display: flex;
    justify-content: end;


}

.icon_menu {
    display: flex;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: space-around;

}


.menu_custom {
    cursor: pointer;
    background: #FF0000;
    width: 177px;

    height: auto;
    position: fixed;
    z-index: 4;


}

.menu_custom i {
    font-size: 30px;
}


.menu_custom .img_desktop {
    width: 93.98;
    height: 41.1px;
}

#img_desktop {
    width: 93.98px;
    height: 41.1px;
}


.wapper_banner {
    display: flex;
    flex-wrap: wrap;
}

.name_author {
    position: absolute;
    margin-left: 7%;
    margin-top: 19px;
}

.title_banner {
    width: 31%;
    margin-right: 3%;
}

.title_banner h2 {

    font-family: PT Serif;
    font-size: 53px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;


}

.left_banner {
    width: 66%;
}

.content_banner {
    width: 100%;

}

.content_banner img {
    width: 100%;

}

.content_banner p {
    padding-top: 15px;
    padding-bottom: 6px;
    font-family: 'HelveticaNowDisplayRegular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.content_banner span {
    font-family: "HelveticaNowDisplayBold";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;



}

.menu_content {

    margin: 0 auto;




}

.custom-width-content,
.custom-width-about {
    margin: 0 auto;
}

.bg_portfolio {
    margin: 0 auto;
    background-color: #FFFFFF;


}

.wapper_portfolio {
    background-color: #EEEEEE;
}

.menu_content_about {
    background-color: #FFFFFF !important;
}

.menu_content_contact {
    background: #F8F8F2 !important;

}

.menu_content p {
    margin-bottom: 12px;
    font-family: PT Serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;

}


.content_item:hover img {
    visibility: visible;

}

.content_item img {
    visibility: hidden;
    padding: 0 5px;
    display: inline-block;
    max-width: inherit;
}

.content_item a {
    color: #000000;
    display: flex;
}

.active img {
    visibility: visible;
}



.item_01 {
    z-index: 2;
    width: 34%;
    display: flex;
    justify-content: end;
    background-color: white;
    border-left: none;
}

.item_02 {
    z-index: 1;
    background-color: #F8F8F2;
}

.item_03 {
    background-color: #E5E5E4 !important;
}

.item_01,
.item_02,
.item_03 {
    padding: 10px 14px 0px 14px;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.item_04 {
    width: 90%;
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.item_04_contact {
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25) inset;

}

.item_01:hover {
    transition: all 0.3s ease-out;
    box-shadow: -3px 1px 0px 0px #00000040 inset;
}

.item_02:hover {
    transition: all 0.3s ease-out;
    box-shadow: -3px 1px 0px 0px #00000040 inset, 2px 0px 0px 0px #00000040 inset;

}

.item_03:hover {
    transition: all 0.3s ease-out;
    box-shadow: -3px 1px 0px 0px #00000040 inset, 2px 0px 0px 0px #00000040 inset;

}

.item_03:hover+.item_04 {
    box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25) inset;
}

.hover_04 {
    box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.25) inset !important;
}




.active {
    border-bottom: none;
    /* box-shadow: -3px 1px 0px 0px #00000040 inset, 2px 0px 0px 0px #00000040 inset; */

}

#portfolio_hover {
    box-shadow: -3px 1px 0px 0px #00000040 inset;
}

.active_important {
    border-bottom: none !important;
    box-shadow: -3px 1px 0px 0px #00000040 inset;

}

.select_content {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

.portfolio_content {
    padding-top: 90px;
    display: flex;
    padding-bottom: 78px;

}

.submit_group {
    display: flex;
    justify-content: end;
    margin-bottom: 25px;
}

.form-result {
    text-align: end;

    font-size: 16px;
    font-weight: 325;
    line-height: 19px;
    letter-spacing: 0.12em;


}

.background_content {
    width: 100%;
    background-color: #EEEEEE;
    padding-top: 10px;
}

.menu_select {
    padding-top: 0px;
    display: flex;
}

.fix_menu_select {

    width: 100%;

    background-color: #EEEEEE;
}

.left_portfolio {
    width: 25%;
    margin-right: 9%;
    position: sticky;
    top: 80px;
    left: 0;
    max-height: 100vh;
}

.wapper_left_portfolio {
    position: relative;
}

.wapper_left_portfolio h3 {
    font-family: PT Serif;
    font-size: 49px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

}

.wapper_left_portfolio p {
    max-width: 321px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.wapper_left_portfolio ul {
    padding-left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;


}

.wapper_left_portfolio img {
    margin-left: 40px;
    scale: 1.6;
    position: absolute;
    width: 100%;
    top: 32%;

}

.right_portfolio {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.card_portfolio {
    position: relative;
    width: 49%;
}

.card_portfolio .view_project {
    display: none;
    position: absolute;
    top: 35%;
    left: 42%;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 2;

}

.card_portfolio:hover .view_project {
    display: block;
}

.img_card {
    width: 100%;
    height: 426px;
    background-size: cover;
}


.card_portfolio:hover .img_card {
    /*Luka : brightness down when mouse over*/
    filter: brightness(50%);
    transition: all 0.3s ease-out;
    opacity: 0.6;
}

.title_card {
    padding-top: 18px;
    border-bottom: 1px solid #000000;
}

.title_card p {
    margin-bottom: 6px;
    font-family: 'HelveticaNowDisplayBold';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.title_card span {
    font-family: 'HelveticaNowDisplayItalic';
    font-size: 18px;
    font-style: italic;
    font-weight: 325;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.content_card {
    max-width: 435px;
    padding-top: 6px;
    margin-bottom: 53px;
    font-family: 'HelveticaNowDisplayRegular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.wapper_about {


    padding-top: 88px;
    background: #F8F8F2;
}

.about_content {

    padding: 10px 5px 46px 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5%;

}

.left_about_content {
    width: 32.2%;
}

.right_about_content {
    width: 66.3%;
}

.right_about_content h2,
.mb_show {
    margin-bottom: 14px;
    font-family: PT Serif;
    font-size: 49px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

}

.mb_show {
    display: none;
}

.right_about_content p {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.content_education {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.left_content_education {
    width: 47%;
}

.left_content_education p {
    font-size: 16px;

    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.italic_custom {
    font-style: italic;
}

.left_content_education ul {

    padding-left: 15px;
    margin-top: 25px;
    margin-bottom: 35px;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.right_content_education {
    width: 45%;

}

.right_content_education h6 {

    font-family: 'HelveticaNowDisplayBold';
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.right_content_education p {
    font-family: 'HelveticaNowDisplayBold';
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.right_list {
    display: flex;
    gap: 6%;
    position: relative;
}

.right_list ul {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}


.left_content_testimonials {
    width: 49%;
}

.right_content_testimonials {
    width: 49%;
}

.content_testimonials {
    display: flex;
    gap: 2%;
}

.content_testimonials h6 {
    font-family: 'HelveticaNowDisplayBold';
    margin-top: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}

.content_testimonials p {
    font-family: 'HelveticaNowDisplayItalic';
    font-size: 16px;
    font-style: italic;
    font-weight: 325;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.wapper_contact {
    position: relative;
    padding-top: 125px;
    background-color: #E5E5E4;
    padding-bottom: 90px;

}

.wapper_content_contact {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}

.wapper_contact h3 {
    font-family: PT Serif;
    font-size: 49px;
    font-weight: 400;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: left;

}

.left_content_contact {
    width: 27%;

}

.left_content_contact p {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.left_content_contact h6 {
    font-family: 'HelveticaNowDisplayBold';
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 26px;

}

.left_content_contact a {
    text-decoration: underline;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;

}

.right_content_contact {
    width: 70%;
}

.group_email_name {
    margin-top: 5px;
    display: flex;
}


.email::placeholder,
.name::placeholder,
.company::placeholder,
.craft_message::placeholder {
    font-size: 16px;
    font-weight: 325;
    line-height: 19px;
    letter-spacing: 0.12em;
    text-align: left;


}

.input_group {
    position: relative;
}

.email {
    max-width: 100%;
    padding-left: 2%;
    text-align: 20px;
    width: 98%;
    height: 51px;
    border: none;

}

.name {
    padding-left: 20px;
    width: 48%;
    margin-right: 4%;
    height: 51px;
    border: none;
    margin-top: 20px;
}

.company {
    padding-left: 20px;
    width: 48%;
    height: 51px;
    border: none;
    margin-top: 20px;
}

.craft_message {
    font-family: 'HelveticaNowDisplayRegular', sans-serif;
    padding-top: 20px;
    padding-left: 2%;
    width: 98%;
    height: 206px;
    border: none;
    margin-top: 25px;
}

.btn_submit:hover {
    transition: all 0.2s ease-in-out;
    box-shadow: -3px 1px 0px 0px #00000040 inset;

}

/* .btn_submit {
    cursor: pointer;
    padding: 20px 60px 20px 60px;
    font-size: 16px;
    font-weight: 325;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #FFF;
    background-color: #FF0000;
    border: none;
    margin-top: 25px;
    float: right;
}

.btn_submit::before {
    background-image: url('../images/button_outline.png');
} */

.btn_submit {
    cursor: pointer;
    padding: 20px 60px;
    font-size: 16px;
    font-weight: 325;
    line-height: 19px;
    letter-spacing: 0.12em;
    color: #FFF;
    background-color: #FF0000;
    border: none;
    margin-top: 25px;
    float: right;
    position: relative;
    z-index: 10;
}

.btn_submit::after {
    content: '';
    position: absolute;
    top: 15px;
    left: -12px;
    width: 106%;
    height: 100%;
    background-image: url('../images/button_outline.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

.footer_text {
    margin-top: 300px;

    font-size: 13px;
    font-weight: 325;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    justify-content: end;

}

.img_contact {
    position: absolute;
    top: 50%
}

.menu_custom .close_icon {
    padding-left: 10px;
    display: none;
    width: 25px;
    height: 25px;
}

.mb_img,
.wapper_item_mb,
.content_item_mb {
    display: none;
}

.required-icon {
    position: absolute;
    top: 0;
    left: -20px;
    display: none;
}

.hide {
    display: block;
}

.content_desktop {
    max-width: 880px;
    font-weight: 400;
}

.content_mb {
    display: none;
}

/* ---- Css popup----- */
.popupContainer {
    display: none;
    position: fixed;

    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: auto;
    z-index: 999;
}


.popUpBackground {
    transition: all 0.3s ease-in-out;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}

.popUpBackground.active {
    background-color: rgb(0 0 0 / 71%);
}



.popImage i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;

    font-size: 35px;
}

@media screen and (max-width:1220px) {
    .wapper_left_portfolio img {
        top: 55%;
        width: 90%;
    }

    .name_author {
        width: 55%;
        margin-top: 80px;
    }

}

@media screen and (max-width:1024px) {

    .left_portfolio {
        display: none;
    }


    .right_portfolio {
        width: 100%;
    }

    .left_content_education {
        width: 100%;
    }

    .right_content_education {
        padding-top: 20px;
        width: 100%;
        padding-bottom: 20px;
    }

}

@media screen and (max-width:765px) {

    .content_card {
        max-width: 100%;
    }

    .active_custom span:first-child {
        margin-left: 23px;
    }

    .required-icon {
        left: -14px;
    }



    .icon-custom {

        padding-left: 8px;
        margin-right: 22px;
        padding-top: 3px;
    }

    .icon-custom span {
        margin-bottom: 6px;
        width: 27px;
        height: 2px;
    }

    .submit_group {
        display: inherit;
    }

    .form-result {
        text-align: start;
    }

    .ul_menu a {
        font-size: 21px;
        font-weight: 400;
        line-height: 25px;

    }

    .ul_menu li {
        padding-top: 8px;
        padding-bottom: 4px;
    }

    .ul_menu {
        min-width: 90px;
        padding: 20px 30px 12px 13px;
    }

    .left_content_education ul {
        margin-bottom: 22px;

    }

    .right_about_content h2 {
        margin-bottom: 0px;
        margin-top: 25px;
    }

    .wapper_contact h3 {
        padding-top: 50px;

    }


    .portfolio_content {
        padding-top: 35px;
        padding-bottom: 0px;
    }

    .btn_submit:hover {
        transition: all 0.2s ease-in-out;
        box-shadow: unset;
    }

    .btn_submit:active {
        transition: all 0.2s ease-in-out;
        box-shadow: -3px -1px 0px 0px #00000040;
    }

    .btn_submit {
        background-color: #FF0000;
        color: #FFF;
        padding: 17px 20px 17px 20px;
        margin-top: 14px;
    }

    .img_card {
        width: 100%;
        height: 62.5vw;
    }

    .content_banner p {
        padding-top: 17px;
        padding-bottom: 0px;
    }

    .mb_img,
    .content_mb {
        display: block;
    }

    .mb_menu_img {
        margin-right: 8px;
    }

    .img_desktop,
    .menu_content,
    .content_desktop {
        display: none;
    }

    .background_color {
        padding-top: 0px;
    }

    .menu_custom .img_desktop {

        width: 73.98px;
        height: 32.35px
    }

    .ul_menu li img,
    .content_desktop_card {
        display: none;
    }

    .container {
        padding: 0 16px;
    }

    header {
        padding-bottom: 68px;
    }

    .card_portfolio {
        width: 100%;
    }

    .right_portfolio {
        display: block;
    }

    .title_banner {

        width: 100%;
    }

    .title_banner h2 {
        font-family: PT Serif;
        font-size: 53px;
        font-weight: 400;
        line-height: 64px;
        letter-spacing: 0em;
        text-align: left;

    }

    .left_banner {
        margin-top: 29px;
        width: 100%;
    }

    .name_author {
        left: 4px;
        width: 58%;
        height: 180px;
        margin-left: 0px;
        margin-top: 55px;


    }

    .item_01,
    .item_02,
    .item_03 {
        padding: 0px;
        padding-top: 20px;
    }

    .menu_custom {
        transition: width 0.3s ease-in-out;
        top: 10px;
        width: auto;
    }


    .menu_scrolled {
        top: 0;
    }

    .open_icon {
        width: 50px;
        height: 37px;
        margin-right: 7px;
    }

    .icon_menu {

        justify-content: space-around;

    }

    .container_header {
        padding: 0px;
    }

    .menu_select {
        padding-top: 13px;
        display: flex;
        width: 100%;
    }


    .right_content_contact {
        padding: 30px 0px;
        width: 100%;
    }

    .left_content_contact {
        padding: 0px;
        padding-bottom: 20px;
        width: 100%;
    }

    .img_contact {
        max-width: 100%;
        width: 100%;
        left: 0;
        top: 70%;
    }

    .wapper_about {
        padding-top: 0px;

    }

    .name {
        padding-left: 2%;
    }

    .about_content {
        padding-bottom: 35px;
        padding-top: 49px;
        position: relative;
        display: inherit;
    }

    .left_about_content {
        margin-top: -4px;
        width: 80px;
        float: left;
        margin-right: 10px;
    }

    .right_about_content {
        width: 100%;
    }

    .mb_show {
        margin-bottom: 17px;
        display: block;
    }

    .mb_hidden {
        display: none;
    }

    .right_list ul {
        margin-top: 4px;
        width: 47%;
    }

    .content_item_mb p {
        font-family: PT Serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        background-color: white;
        box-shadow: -3px -1px 0px 0px #00000040;
        width: 90px;
        padding: 9px 6px 9px 6px;
        float: right;
        margin-bottom: 0px;
    }

    .content_item_mb {
        display: block;
        background-color: #EEEEEE;


    }

    .wapper_item_mb {
        background-color: #EEEEEE;
        display: flex;
    }

    .bg-white {
        background-color: #FFFFFF;
    }

    .bg-contact {
        background-color: #E5E5E4 !important;

    }

    .bg-pr-mb {
        background-color: #F8F8F2;
    }

    .bg_about {
        background-color: #F8F8F2 !important;
    }

    .wapper_contact {
        padding-top: 0px;
    }

    .content_card {

        padding-top: 12px;
        margin-bottom: 27px;
    }

    .footer_text {
        margin-top: 191px;
    }

    .email::placeholder,
    .name::placeholder,
    .company::placeholder,
    .craft_message::placeholder {
        background-color: #FFF;

    }
}